@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, dark;
}
@plugin "daisyui/theme" {
	name: "light";
	default: true;
	--color-primary: #b9da55;
	--color-secondary: #03373d;
	--color-success: #3ba976;
	--color-error: #dc3545;
}

@theme {
	--color-base-light: #eaeced;
	--color-base-dark: #242424;
	--color-light: #f9f9fa;
	--color-dark: #1b1b1b;
	--font-urbanist: "Urbanist", Helvetica, sans-serif;
}
