@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
	--color-base-light: #eaeced;
	--color-base-dark: #242424;
	--color-light: #f9f9fa;
	--color-dark: #1b1b1b;
	--color-primary: #caeb66;
	--color-secondary: #03373d;
	--font-urbanist: "Urbanist", Helvetica, sans-serif;
}
